development:
  db:
    adapter: sqlite3
    database: db/development.sqlite3
  rackspace:
    username: mocking
    api_key: mocking
    region: ORD
  queue_name: peril_events
  poll_time: 5
test:
  db:
    adapter: sqlite3
    database: db/test.sqlite3
  rackspace:
    username: mocking
    api_key: mocking
    region: ORD
  queue_name: peril_events
  poll_time: 1
